@page
@model ASC.Web.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
<<<<<<< HEAD
    Layout = "_Layout";
=======
    Layout = "_MaterializeLayout";
>>>>>>> dd2e859 (Nop bai Lab09 LamThanhNien TangDaiMinh)
}

<div class="container section">
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Forgot Password</span>
                    <div asp-validation-summary="All" class="validation-summary-errors"></div>
                    <form method="post">
                        <div class="input-field">
                            <input asp-for="Input.Email" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="field-validation-error"></span>
                        </div>
                        <button type="submit" class="btn waves-effect waves-light">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
