@page
@model ASC.Web.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
    Layout = "_MaterializeLayout";
}

<div class="container section">
    <p>Signing out...</p>
</div>
