@{
    ViewData["Title"] = "Contact";
}

<div class="container section">
    <h4>Contact Us</h4>
    <p class="light">Reach Automobile Service Center support team via support@asc.com or hotline +84 28 1234 5678.</p>
</div>
