@{
    ViewData["Title"] = "Dashboard";
    Layout = "_MaterializeLayout"; // hoặc có thể tạo _SecureLayout riêng nếu muốn
}

<h4>Welcome to Admin Dashboard</h4>
<p>This is a secure area. (Chưa áp dụng phân quyền)</p>