@{
<<<<<<< HEAD
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
=======
    ViewData["Title"] = "Privacy";
}

<h1 class="mt-4">Privacy Policy</h1>
<p>This is the privacy page.</p>
>>>>>>> dd2e859 (Nop bai Lab09 LamThanhNien TangDaiMinh)
