@{
    ViewData["Title"] = "Dashboard";
    Layout = "_SecureLayout";
}

<div class="container section">
    <h4 class="header">Dashboard</h4>
    <p>Welcome to Automobile Service Center secure dashboard.</p>
</div>
