@model ASC.Web.Areas.ServiceRequests.Models.NewServiceRequestViewModel
@using System.Globalization
@{
    Layout = "_SecureLayout";
    ViewData["Title"] = "New Service Request";
}

<div class="row"></div>
<div class="row padding-top-20px padding-left-20px padding-right-20px">
    <div class="row z-depth-3">
        <div class="section white-text padding-left-10px blue-grey lighten-1">
            <h5>New Service Request</h5>
        </div>
        <div class="divider"></div>

        <form asp-controller="ServiceRequest" asp-action="ServiceRequest" method="post" class="col s12">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="input-field col s4">
                    <select asp-for="VehicleName" asp-items="@(new SelectList(ViewBag.VehicleNames, "Name", "Name"))" class="" required="required">
                        <option value="">Please select one</option>
                    </select>
                    <label asp-for="VehicleName"></label>
                </div>
                <div class="input-field col s4">
                    <select asp-for="VehicleType" asp-items="@(new SelectList(ViewBag.VehicleTypes, "Name", "Name"))" class="validate" required="required">
                        <option value="">Please select one</option>
                    </select>
                    <label asp-for="VehicleType"></label>
                </div>
                <div class="input-field col s4">
                    <input asp-for="RequestedDate"
                           id="RequestedDate"
                           type="text"
                           class="datepicker" />
                    <label asp-for="RequestedDate"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <textarea asp-for="RequestedServices" class="materialize-textarea validate"></textarea>
                    <label asp-for="RequestedServices"></label>
                </div>
            </div>

            <div class="row" style="margin-bottom: 0;">
                <div class="col s12 right-align">
                    <button class="btn waves-effect waves-light btnSubmit" type="submit" name="action">
                        Create
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="row col s12 right-align" asp-validation-summary="All"></div>
            </div>
        </form>

        <div class="row"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoClose: true
            });

            $('select').formSelect();
            $("select[required]").css({ display: "block", position: 'absolute', visibility: 'hidden' });

            $('form').on('submit', function () {
                var dateInput = $('#RequestedDate');
                var dateText = dateInput.val();
                if (dateText && dateText.indexOf('/') > -1) {
                    var parts = dateText.split('/');
                    if (parts.length === 3) {
                        dateInput.val(parts[2] + '-' + parts[1] + '-' + parts[0]);
                    }
                }
                return true;
            });
        });
    </script>
}
