@{
    Layout = "_MasterLayout";
}

<header>
    <nav class="light-blue darken-1">
        <div class="nav-wrapper" style="padding:0 20px;">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
            <span class="brand-logo" style="position:static; margin-left:10px;">Dashboard</span>
        </div>
    </nav>
</header>

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view light-blue darken-1"><a href="#"><span class="white-text name">Automobile Service Center</span></a></div></li>
    <li><a asp-area="ServiceRequests" asp-controller="Dashboard" asp-action="Dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="#"><i class="material-icons">supervisor_account</i>User Administration</a></li>
    <li><a href="#"><i class="material-icons">build</i>Service Requests</a></li>
    <li><a href="#"><i class="material-icons">notifications</i>Notifications</a></li>
    <li><a href="#"><i class="material-icons">local_offer</i>Promotions</a></li>
    <li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
</ul>

<main style="margin-left:300px; padding:20px; min-height:calc(100vh - 120px);">
    @RenderBody()
</main>

<footer class="page-footer light-blue darken-1" style="margin-left:300px;">
    <div class="footer-copyright">
        <div class="container white-text">
            Automobile Service Center
        </div>
    </div>
</footer>

@section Scripts {
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
}
